/ {
    chosen {
		zephyr,flash = &flash0;
	};
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        nvs_partition: partition@7d000 {
            label = "nvs";
            reg = <0x7d000 0x1800>;
        };

        storage_partition: partition@7e800 {
            label = "storage";
            reg = <0x7e800 0x1800>;
    };
};
};