/ {
    aliases {
        my-sensor = &dht11;   // Point your alias to the new dht11 node
    };

    /* Define the DHT11 sensor as a new child of the root node */
    dht11: dht11 {
        compatible = "aosong,dht";
        gpios = <&gpioa 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        status = "okay";
    };
};

// USART2 is enabled for serial communication with the host computer for debugging and telemetry output
&usart2 {
    status = "okay";
    current-speed = <115200>;
};
