/ {
    aliases {
        my-dht11 = &dht11;
    };

    /* DHT11 on GPIO16 */
    dht11: dht11 {
        compatible = "aosong,dht";
        dio-gpios = <&gpio 16 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

/* Enable WiFi */
&wifi {
    status = "okay";
};
