/ {
    chosen {
        zephyr,console = &uart0; /* Asks to use UART0 for printk logs. Allows the explicit control of baud rate */
    };

    aliases {
        led = &myled;
        buzzer = &mybuzzer;
    };

    leds {
        compatible = "gpio-leds";
        myled: d26 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
        };
        mybuzzer: d27 {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
        };
    };

    
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};